<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>la-limb</key>
  <string>la-limb.glif</string>
  <key>ra-limb</key>
  <string>ra-limb.glif</string>
  <key>sa-limb</key>
  <string>sa-limb.glif</string>
</dict>
</plist>
