<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1201</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>uni0965</string>
    <string>uni1900</string>
    <string>uni19001922</string>
    <string>uni1901</string>
    <string>uni19011922</string>
    <string>uni1901192A1922</string>
    <string>uni1902</string>
    <string>uni19021922</string>
    <string>uni1902192A1922</string>
    <string>uni1903</string>
    <string>uni19031922</string>
    <string>uni1903192A1922</string>
    <string>uni1904</string>
    <string>uni19041922</string>
    <string>uni1904192A1922</string>
    <string>uni1905</string>
    <string>uni19051922</string>
    <string>uni1905192A1922</string>
    <string>uni1906</string>
    <string>uni19061922</string>
    <string>uni1906192A1922</string>
    <string>uni1907</string>
    <string>uni19071922</string>
    <string>uni1907192A1922</string>
    <string>uni1908</string>
    <string>uni19081922</string>
    <string>uni1908192A1922</string>
    <string>uni1909</string>
    <string>uni19091922</string>
    <string>uni1909192A1922</string>
    <string>uni190A</string>
    <string>uni190A1922</string>
    <string>uni190A192A1922</string>
    <string>uni190B</string>
    <string>uni190B1922</string>
    <string>uni190B192A1922</string>
    <string>uni190C</string>
    <string>uni190C1922</string>
    <string>uni190C192A1922</string>
    <string>uni190D</string>
    <string>uni190D1922</string>
    <string>uni190D192A1922</string>
    <string>uni190E</string>
    <string>uni190E1922</string>
    <string>uni190192AE1922</string>
    <string>uni190F</string>
    <string>uni190F1922</string>
    <string>uni190F192A1922</string>
    <string>uni1910</string>
    <string>uni19101922</string>
    <string>uni1910192A1922</string>
    <string>uni1911</string>
    <string>uni19111922</string>
    <string>uni1911192A1922</string>
    <string>uni1912</string>
    <string>uni19121922</string>
    <string>uni1912192A1922</string>
    <string>uni1913</string>
    <string>uni19131922</string>
    <string>uni1913192A1922</string>
    <string>uni1914</string>
    <string>uni19141922</string>
    <string>uni1914192A1922</string>
    <string>uni1915</string>
    <string>uni19151922</string>
    <string>uni1915192A1922</string>
    <string>uni1916</string>
    <string>uni19161922</string>
    <string>uni1916192A1922</string>
    <string>uni1917</string>
    <string>uni19171922</string>
    <string>uni1917192A1922</string>
    <string>uni1918</string>
    <string>uni19181922</string>
    <string>uni1918192A1922</string>
    <string>uni1919</string>
    <string>uni19191922</string>
    <string>uni1919192A1922</string>
    <string>uni191A</string>
    <string>uni191A1922</string>
    <string>uni191A192A1922</string>
    <string>uni191B</string>
    <string>uni191B1922</string>
    <string>uni191B192A1922</string>
    <string>uni191C</string>
    <string>uni191C1922</string>
    <string>uni191C192A1922</string>
    <string>uni1920</string>
    <string>uni1920.widC</string>
    <string>uni1920.widD</string>
    <string>uni1921</string>
    <string>uni1922</string>
    <string>uni1922.altA</string>
    <string>uni1922.altB</string>
    <string>uni1922.altC</string>
    <string>uni1923</string>
    <string>uni1924</string>
    <string>uni1925</string>
    <string>uni1926</string>
    <string>uni1927</string>
    <string>uni1928</string>
    <string>uni1929</string>
    <string>uni192A</string>
    <string>uni192B</string>
    <string>uni1930</string>
    <string>uni1931</string>
    <string>uni1932</string>
    <string>uni1933</string>
    <string>uni1934</string>
    <string>uni1935</string>
    <string>uni1936</string>
    <string>uni1937</string>
    <string>uni1938</string>
    <string>uni1939</string>
    <string>uni193A</string>
    <string>uni193A.widC</string>
    <string>uni193B</string>
    <string>uni193B.widA</string>
    <string>uni193B.widB</string>
    <string>uni193B.widC</string>
    <string>uni1940</string>
    <string>uni19401922</string>
    <string>uni1940192A1922</string>
    <string>uni1944</string>
    <string>uni1945</string>
    <string>uni1946</string>
    <string>uni1947</string>
    <string>uni1948</string>
    <string>uni1949</string>
    <string>uni194A</string>
    <string>uni194B</string>
    <string>uni194C</string>
    <string>uni194D</string>
    <string>uni194E</string>
    <string>uni194F</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>uni1921193A</string>
    <string>uni192A1922</string>
    <string>ampersand</string>
    <string>uni2009</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni202F</string>
    <string>uni1923193A</string>
    <string>uni1924193A</string>
    <string>uni19291920</string>
    <string>uni19291922</string>
    <string>uni19291927</string>
    <string>uni19291928</string>
    <string>uni1929193A</string>
    <string>uni19291920193A</string>
    <string>uni19291922193A</string>
    <string>uni19291927193A</string>
    <string>uni19291928193A</string>
    <string>uni192B1920</string>
    <string>uni192B1922</string>
    <string>uni192B1927</string>
    <string>uni192B1928</string>
    <string>uni192B193A</string>
    <string>uni192B1920193A</string>
    <string>uni192B1922193A</string>
    <string>uni192B1927193A</string>
    <string>uni192B1928193A</string>
    <string>uni25CC</string>
    <string>uni191E</string>
    <string>uni191E1922</string>
    <string>uni191E192A1922</string>
    <string>uni191D</string>
    <string>uni191D1922</string>
    <string>uni191D192A1922</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Delta</key>
    <string>uni0394</string>
    <key>Omega</key>
    <string>uni03A9</string>
    <key>mu</key>
    <string>uni03BC</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
  </dict>
</dict>
</plist>
