<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ba-limb</key>
  <string>ba-limb.glif</string>
  <key>ca-limb</key>
  <string>ca-limb.glif</string>
  <key>cha-limb</key>
  <string>cha-limb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>ha-limb</key>
  <string>ha-limb.glif</string>
  <key>ja-limb</key>
  <string>ja-limb.glif</string>
  <key>jha-limb</key>
  <string>jha-limb.glif</string>
  <key>ka_ukar-limb</key>
  <string>ka_ukar-limb.glif</string>
  <key>kha-limb</key>
  <string>kha-limb.glif</string>
  <key>nga-limb</key>
  <string>nga-limb.glif</string>
  <key>ssa-limb</key>
  <string>ssa-limb.glif</string>
  <key>ta-limb</key>
  <string>ta-limb.glif</string>
  <key>ta_ukar-limb</key>
  <string>ta_ukar-limb.glif</string>
  <key>ukar-limb</key>
  <string>ukar-limb.glif</string>
  <key>ukar-limb.altA</key>
  <string>ukar-limb.altA_.glif</string>
  <key>ukar-limb.altB</key>
  <string>ukar-limb.altB_.glif</string>
  <key>ukar-limb.altC</key>
  <string>ukar-limb.altC_.glif</string>
  <key>yan-limb</key>
  <string>yan-limb.glif</string>
</dict>
</plist>
