<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>CombAcute</key>
  <string>C_ombA_cute.glif</string>
  <key>CombAcute.LP</key>
  <string>C_ombA_cute.L_P_.glif</string>
  <key>CombCaron</key>
  <string>C_ombC_aron.glif</string>
  <key>CombCaron.LP</key>
  <string>C_ombC_aron.L_P_.glif</string>
  <key>CombCedilla</key>
  <string>C_ombC_edilla.glif</string>
  <key>CombCircum</key>
  <string>C_ombC_ircum.glif</string>
  <key>CombCircum.LP</key>
  <string>C_ombC_ircum.L_P_.glif</string>
  <key>CombDiaer</key>
  <string>C_ombD_iaer.glif</string>
  <key>CombDiaer.LP</key>
  <string>C_ombD_iaer.L_P_.glif</string>
  <key>CombGrave</key>
  <string>C_ombG_rave.glif</string>
  <key>CombGrave.LP</key>
  <string>C_ombG_rave.L_P_.glif</string>
  <key>CombRingAbv</key>
  <string>C_ombR_ingA_bv.glif</string>
  <key>CombTilde</key>
  <string>C_ombT_ilde.glif</string>
  <key>CombTilde.LP</key>
  <string>C_ombT_ilde.L_P_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>EmQuad</key>
  <string>E_mQ_uad.glif</string>
  <key>EmSpace</key>
  <string>E_mS_pace.glif</string>
  <key>EnQuad</key>
  <string>E_nQ_uad.glif</string>
  <key>EnSpace</key>
  <string>E_nS_pace.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>FigureSpace</key>
  <string>F_igureS_pace.glif</string>
  <key>FourPerEmSpace</key>
  <string>F_ourP_erE_mS_pace.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>HairSpace</key>
  <string>H_airS_pace.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>LineSep</key>
  <string>L_ineS_ep.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>ObjectReplChar</key>
  <string>O_bjectR_eplC_har.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>ParagraphSeparator</key>
  <string>P_aragraphS_eparator.glif</string>
  <key>PuncSpace</key>
  <string>P_uncS_pace.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>ReplChar</key>
  <string>R_eplC_har.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>SixPerEmSpace</key>
  <string>S_ixP_erE_mS_pace.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>ThinSpace</key>
  <string>T_hinS_pace.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>ThreePerEmSpace</key>
  <string>T_hreeP_erE_mS_pace.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>VS1</key>
  <string>V_S_1.glif</string>
  <key>VS10</key>
  <string>V_S_10.glif</string>
  <key>VS11</key>
  <string>V_S_11.glif</string>
  <key>VS12</key>
  <string>V_S_12.glif</string>
  <key>VS13</key>
  <string>V_S_13.glif</string>
  <key>VS14</key>
  <string>V_S_14.glif</string>
  <key>VS15</key>
  <string>V_S_15.glif</string>
  <key>VS16</key>
  <string>V_S_16.glif</string>
  <key>VS2</key>
  <string>V_S_2.glif</string>
  <key>VS3</key>
  <string>V_S_3.glif</string>
  <key>VS4</key>
  <string>V_S_4.glif</string>
  <key>VS5</key>
  <string>V_S_5.glif</string>
  <key>VS6</key>
  <string>V_S_6.glif</string>
  <key>VS7</key>
  <string>V_S_7.glif</string>
  <key>VS8</key>
  <string>V_S_8.glif</string>
  <key>VS9</key>
  <string>V_S_9.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>aikar-limb</key>
  <string>aikar-limb.glif</string>
  <key>aikar_kemphreng-limb</key>
  <string>aikar_kemphreng-limb.glif</string>
  <key>akar-limb</key>
  <string>akar-limb.glif</string>
  <key>akar-limb.widC</key>
  <string>akar-limb.widC_.glif</string>
  <key>akar-limb.widD</key>
  <string>akar-limb.widD_.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aukar-limb</key>
  <string>aukar-limb.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>ba-limb</key>
  <string>ba-limb.glif</string>
  <key>ba_subra_ukar-limb</key>
  <string>ba_subra_ukar-limb.glif</string>
  <key>ba_ukar-limb</key>
  <string>ba_ukar-limb.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bha-limb</key>
  <string>bha-limb.glif</string>
  <key>bha_subra_ukar-limb</key>
  <string>bha_subra_ukar-limb.glif</string>
  <key>bha_ukar-limb</key>
  <string>bha_ukar-limb.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>ca-limb</key>
  <string>ca-limb.glif</string>
  <key>ca_subra_ukar-limb</key>
  <string>ca_subra_ukar-limb.glif</string>
  <key>ca_ukar-limb</key>
  <string>ca_ukar-limb.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>cha-limb</key>
  <string>cha-limb.glif</string>
  <key>cha_subra_ukar-limb</key>
  <string>cha_subra_ukar-limb.glif</string>
  <key>cha_ukar-limb</key>
  <string>cha_ukar-limb.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colontriangularmod</key>
  <string>colontriangularmod.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>da-limb</key>
  <string>da-limb.glif</string>
  <key>da_subra_ukar-limb</key>
  <string>da_subra_ukar-limb.glif</string>
  <key>da_ukar-limb</key>
  <string>da_ukar-limb.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dandadbl</key>
  <string>dandadbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dha-limb</key>
  <string>dha-limb.glif</string>
  <key>dha_subra_ukar-limb</key>
  <string>dha_subra_ukar-limb.glif</string>
  <key>dha_ukar-limb</key>
  <string>dha_ukar-limb.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dottedcircle</key>
  <string>dottedcircle.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>eekar-limb</key>
  <string>eekar-limb.glif</string>
  <key>eekar_kemphreng-limb</key>
  <string>eekar_kemphreng-limb.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight-limb</key>
  <string>eight-limb.glif</string>
  <key>ekar-limb</key>
  <string>ekar-limb.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclam-limb</key>
  <string>exclam-limb.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five-limb</key>
  <string>five-limb.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four-limb</key>
  <string>four-limb.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>ga-limb</key>
  <string>ga-limb.glif</string>
  <key>ga_subra_ukar-limb</key>
  <string>ga_subra_ukar-limb.glif</string>
  <key>ga_ukar-limb</key>
  <string>ga_ukar-limb.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>gha-limb</key>
  <string>gha-limb.glif</string>
  <key>gha_subra_ukar-limb</key>
  <string>gha_subra_ukar-limb.glif</string>
  <key>gha_ukar-limb</key>
  <string>gha_ukar-limb.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>gyan-limb</key>
  <string>gyan-limb.glif</string>
  <key>gyan_subra_ukar-limb</key>
  <string>gyan_subra_ukar-limb.glif</string>
  <key>gyan_ukar-limb</key>
  <string>gyan_ukar-limb.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>ha-limb</key>
  <string>ha-limb.glif</string>
  <key>ha_subra_ukar-limb</key>
  <string>ha_subra_ukar-limb.glif</string>
  <key>ha_ukar-limb</key>
  <string>ha_ukar-limb.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenpoint</key>
  <string>hyphenpoint.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>ikar-limb</key>
  <string>ikar-limb.glif</string>
  <key>ikar_kemphreng-limb</key>
  <string>ikar_kemphreng-limb.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>inrupee</key>
  <string>inrupee.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>ja-limb</key>
  <string>ja-limb.glif</string>
  <key>ja_subra_ukar-limb</key>
  <string>ja_subra_ukar-limb.glif</string>
  <key>ja_ukar-limb</key>
  <string>ja_ukar-limb.glif</string>
  <key>jha-limb</key>
  <string>jha-limb.glif</string>
  <key>jha_subra_ukar-limb</key>
  <string>jha_subra_ukar-limb.glif</string>
  <key>jha_ukar-limb</key>
  <string>jha_ukar-limb.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>ka-limb</key>
  <string>ka-limb.glif</string>
  <key>ka_subra_ukar-limb</key>
  <string>ka_subra_ukar-limb.glif</string>
  <key>ka_ukar-limb</key>
  <string>ka_ukar-limb.glif</string>
  <key>kemphreng-limb</key>
  <string>kemphreng-limb.glif</string>
  <key>kemphreng-limb.widC</key>
  <string>kemphreng-limb.widC_.glif</string>
  <key>kha-limb</key>
  <string>kha-limb.glif</string>
  <key>kha_subra_ukar-limb</key>
  <string>kha_subra_ukar-limb.glif</string>
  <key>kha_ukar-limb</key>
  <string>kha_ukar-limb.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>la-limb</key>
  <string>la-limb.glif</string>
  <key>la_subra_ukar-limb</key>
  <string>la_subra_ukar-limb.glif</string>
  <key>la_ukar-limb</key>
  <string>la_ukar-limb.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>loo-limb</key>
  <string>loo-limb.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>ma-limb</key>
  <string>ma-limb.glif</string>
  <key>ma_subra_ukar-limb</key>
  <string>ma_subra_ukar-limb.glif</string>
  <key>ma_ukar-limb</key>
  <string>ma_ukar-limb.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>mukphreng-limb</key>
  <string>mukphreng-limb.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>na-limb</key>
  <string>na-limb.glif</string>
  <key>na_subra_ukar-limb</key>
  <string>na_subra_ukar-limb.glif</string>
  <key>na_ukar-limb</key>
  <string>na_ukar-limb.glif</string>
  <key>nbhyphen</key>
  <string>nbhyphen.glif</string>
  <key>nbsp</key>
  <string>nbsp.glif</string>
  <key>nga-limb</key>
  <string>nga-limb.glif</string>
  <key>nga_subra_ukar-limb</key>
  <string>nga_subra_ukar-limb.glif</string>
  <key>nga_ukar-limb</key>
  <string>nga_ukar-limb.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine-limb</key>
  <string>nine-limb.glif</string>
  <key>nnbsp</key>
  <string>nnbsp.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>okar-limb</key>
  <string>okar-limb.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one-limb</key>
  <string>one-limb.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ookar-limb</key>
  <string>ookar-limb.glif</string>
  <key>openbox</key>
  <string>openbox.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>pa-limb</key>
  <string>pa-limb.glif</string>
  <key>pa_subra_ukar-limb</key>
  <string>pa_subra_ukar-limb.glif</string>
  <key>pa_ukar-limb</key>
  <string>pa_ukar-limb.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pha-limb</key>
  <string>pha-limb.glif</string>
  <key>pha_subra_ukar-limb</key>
  <string>pha_subra_ukar-limb.glif</string>
  <key>pha_ukar-limb</key>
  <string>pha_ukar-limb.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question-limb</key>
  <string>question-limb.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>ra-limb</key>
  <string>ra-limb.glif</string>
  <key>ra_subra_ukar-limb</key>
  <string>ra_subra_ukar-limb.glif</string>
  <key>ra_ukar-limb</key>
  <string>ra_ukar-limb.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>rupee</key>
  <string>rupee.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sa-limb</key>
  <string>sa-limb.glif</string>
  <key>sa_subra_ukar-limb</key>
  <string>sa_subra_ukar-limb.glif</string>
  <key>sa_ukar-limb</key>
  <string>sa_ukar-limb.glif</string>
  <key>sai-limb</key>
  <string>sai-limb.glif</string>
  <key>sai-limb.widA</key>
  <string>sai-limb.widA_.glif</string>
  <key>sai-limb.widB</key>
  <string>sai-limb.widB_.glif</string>
  <key>sai-limb.widC</key>
  <string>sai-limb.widC_.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven-limb</key>
  <string>seven-limb.glif</string>
  <key>sha-limb</key>
  <string>sha-limb.glif</string>
  <key>sha_subra_ukar-limb</key>
  <string>sha_subra_ukar-limb.glif</string>
  <key>sha_ukar-limb</key>
  <string>sha_ukar-limb.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six-limb</key>
  <string>six-limb.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>smallanusvara-limb</key>
  <string>smallanusvara-limb.glif</string>
  <key>smallka-limb</key>
  <string>smallka-limb.glif</string>
  <key>smallla-limb</key>
  <string>smallla-limb.glif</string>
  <key>smallma-limb</key>
  <string>smallma-limb.glif</string>
  <key>smallna-limb</key>
  <string>smallna-limb.glif</string>
  <key>smallnga-limb</key>
  <string>smallnga-limb.glif</string>
  <key>smallpa-limb</key>
  <string>smallpa-limb.glif</string>
  <key>smallra-limb</key>
  <string>smallra-limb.glif</string>
  <key>smallta-limb</key>
  <string>smallta-limb.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>ssa-limb</key>
  <string>ssa-limb.glif</string>
  <key>ssa_subra_ukar-limb</key>
  <string>ssa_subra_ukar-limb.glif</string>
  <key>ssa_ukar-limb</key>
  <string>ssa_ukar-limb.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>subra-limb</key>
  <string>subra-limb.glif</string>
  <key>subra_ukar-limb</key>
  <string>subra_ukar-limb.glif</string>
  <key>subwa-limb</key>
  <string>subwa-limb.glif</string>
  <key>subwa_akar-limb</key>
  <string>subwa_akar-limb.glif</string>
  <key>subwa_akar_kemphreng-limb</key>
  <string>subwa_akar_kemphreng-limb.glif</string>
  <key>subwa_ekar-limb</key>
  <string>subwa_ekar-limb.glif</string>
  <key>subwa_ekar_kemphreng-limb</key>
  <string>subwa_ekar_kemphreng-limb.glif</string>
  <key>subwa_kemphreng-limb</key>
  <string>subwa_kemphreng-limb.glif</string>
  <key>subwa_okar-limb</key>
  <string>subwa_okar-limb.glif</string>
  <key>subwa_okar_kemphreng-limb</key>
  <string>subwa_okar_kemphreng-limb.glif</string>
  <key>subwa_ukar-limb</key>
  <string>subwa_ukar-limb.glif</string>
  <key>subwa_ukar_kemphreng-limb</key>
  <string>subwa_ukar_kemphreng-limb.glif</string>
  <key>subya-limb</key>
  <string>subya-limb.glif</string>
  <key>subya_akar-limb</key>
  <string>subya_akar-limb.glif</string>
  <key>subya_akar_kemphreng-limb</key>
  <string>subya_akar_kemphreng-limb.glif</string>
  <key>subya_ekar-limb</key>
  <string>subya_ekar-limb.glif</string>
  <key>subya_ekar_kemphreng-limb</key>
  <string>subya_ekar_kemphreng-limb.glif</string>
  <key>subya_kemphreng-limb</key>
  <string>subya_kemphreng-limb.glif</string>
  <key>subya_okar-limb</key>
  <string>subya_okar-limb.glif</string>
  <key>subya_okar_kemphreng-limb</key>
  <string>subya_okar_kemphreng-limb.glif</string>
  <key>subya_ukar-limb</key>
  <string>subya_ukar-limb.glif</string>
  <key>subya_ukar_kemphreng-limb</key>
  <string>subya_ukar_kemphreng-limb.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>ta-limb</key>
  <string>ta-limb.glif</string>
  <key>ta_subra_ukar-limb</key>
  <string>ta_subra_ukar-limb.glif</string>
  <key>ta_ukar-limb</key>
  <string>ta_ukar-limb.glif</string>
  <key>tha-limb</key>
  <string>tha-limb.glif</string>
  <key>tha_subra_ukar-limb</key>
  <string>tha_subra_ukar-limb.glif</string>
  <key>tha_ukar-limb</key>
  <string>tha_ukar-limb.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three-limb</key>
  <string>three-limb.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tra-limb</key>
  <string>tra-limb.glif</string>
  <key>tra_subra_ukar-limb</key>
  <string>tra_subra_ukar-limb.glif</string>
  <key>tra_ukar-limb</key>
  <string>tra_ukar-limb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two-limb</key>
  <string>two-limb.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>ukar-limb</key>
  <string>ukar-limb.glif</string>
  <key>ukar-limb.altA</key>
  <string>ukar-limb.altA_.glif</string>
  <key>ukar-limb.altB</key>
  <string>ukar-limb.altB_.glif</string>
  <key>ukar-limb.altC</key>
  <string>ukar-limb.altC_.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vowelcarrier-limb</key>
  <string>vowelcarrier-limb.glif</string>
  <key>vowelcarrier_ukar-limb</key>
  <string>vowelcarrier_ukar-limb.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wa-limb</key>
  <string>wa-limb.glif</string>
  <key>wa_subra_ukar-limb</key>
  <string>wa_subra_ukar-limb.glif</string>
  <key>wa_ukar-limb</key>
  <string>wa_ukar-limb.glif</string>
  <key>wj</key>
  <string>wj.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya-limb</key>
  <string>ya-limb.glif</string>
  <key>ya_subra_ukar-limb</key>
  <string>ya_subra_ukar-limb.glif</string>
  <key>ya_ukar-limb</key>
  <string>ya_ukar-limb.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yan-limb</key>
  <string>yan-limb.glif</string>
  <key>yan_subra_ukar-limb</key>
  <string>yan_subra_ukar-limb.glif</string>
  <key>yan_ukar-limb</key>
  <string>yan_ukar-limb.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero-limb</key>
  <string>zero-limb.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnbsp</key>
  <string>zwnbsp.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
  <key>zwsp</key>
  <string>zwsp.glif</string>
</dict>
</plist>
