<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni00AD</key>
  <string>uni00A_D_.glif</string>
  <key>uni02D0</key>
  <string>uni02D_0.glif</string>
  <key>uni034F</key>
  <string>uni034F_.glif</string>
  <key>uni0965</key>
  <string>uni0965.glif</string>
  <key>uni1900</key>
  <string>uni1900.glif</string>
  <key>uni19001922</key>
  <string>uni19001922.glif</string>
  <key>uni1901</key>
  <string>uni1901.glif</string>
  <key>uni19011922</key>
  <string>uni19011922.glif</string>
  <key>uni1901192A1922</key>
  <string>uni1901192A_1922.glif</string>
  <key>uni1902</key>
  <string>uni1902.glif</string>
  <key>uni19021922</key>
  <string>uni19021922.glif</string>
  <key>uni1902192A1922</key>
  <string>uni1902192A_1922.glif</string>
  <key>uni1903</key>
  <string>uni1903.glif</string>
  <key>uni19031922</key>
  <string>uni19031922.glif</string>
  <key>uni1903192A1922</key>
  <string>uni1903192A_1922.glif</string>
  <key>uni1904</key>
  <string>uni1904.glif</string>
  <key>uni19041922</key>
  <string>uni19041922.glif</string>
  <key>uni1904192A1922</key>
  <string>uni1904192A_1922.glif</string>
  <key>uni1905</key>
  <string>uni1905.glif</string>
  <key>uni19051922</key>
  <string>uni19051922.glif</string>
  <key>uni1905192A1922</key>
  <string>uni1905192A_1922.glif</string>
  <key>uni1906</key>
  <string>uni1906.glif</string>
  <key>uni19061922</key>
  <string>uni19061922.glif</string>
  <key>uni1906192A1922</key>
  <string>uni1906192A_1922.glif</string>
  <key>uni1907</key>
  <string>uni1907.glif</string>
  <key>uni19071922</key>
  <string>uni19071922.glif</string>
  <key>uni1907192A1922</key>
  <string>uni1907192A_1922.glif</string>
  <key>uni1908</key>
  <string>uni1908.glif</string>
  <key>uni19081922</key>
  <string>uni19081922.glif</string>
  <key>uni1908192A1922</key>
  <string>uni1908192A_1922.glif</string>
  <key>uni1909</key>
  <string>uni1909.glif</string>
  <key>uni19091922</key>
  <string>uni19091922.glif</string>
  <key>uni1909192A1922</key>
  <string>uni1909192A_1922.glif</string>
  <key>uni190A</key>
  <string>uni190A_.glif</string>
  <key>uni190A1922</key>
  <string>uni190A_1922.glif</string>
  <key>uni190A192A1922</key>
  <string>uni190A_192A_1922.glif</string>
  <key>uni190B</key>
  <string>uni190B_.glif</string>
  <key>uni190B1922</key>
  <string>uni190B_1922.glif</string>
  <key>uni190B192A1922</key>
  <string>uni190B_192A_1922.glif</string>
  <key>uni190C</key>
  <string>uni190C_.glif</string>
  <key>uni190C1922</key>
  <string>uni190C_1922.glif</string>
  <key>uni190C192A1922</key>
  <string>uni190C_192A_1922.glif</string>
  <key>uni190D</key>
  <string>uni190D_.glif</string>
  <key>uni190D1922</key>
  <string>uni190D_1922.glif</string>
  <key>uni190D192A1922</key>
  <string>uni190D_192A_1922.glif</string>
  <key>uni190E</key>
  <string>uni190E_.glif</string>
  <key>uni190E1922</key>
  <string>uni190E_1922.glif</string>
  <key>uni190E192A1922</key>
  <string>uni190E_192A_1922.glif</string>
  <key>uni190F</key>
  <string>uni190F_.glif</string>
  <key>uni190F1922</key>
  <string>uni190F_1922.glif</string>
  <key>uni190F192A1922</key>
  <string>uni190F_192A_1922.glif</string>
  <key>uni1910</key>
  <string>uni1910.glif</string>
  <key>uni19101922</key>
  <string>uni19101922.glif</string>
  <key>uni1910192A1922</key>
  <string>uni1910192A_1922.glif</string>
  <key>uni1911</key>
  <string>uni1911.glif</string>
  <key>uni19111922</key>
  <string>uni19111922.glif</string>
  <key>uni1911192A1922</key>
  <string>uni1911192A_1922.glif</string>
  <key>uni1912</key>
  <string>uni1912.glif</string>
  <key>uni19121922</key>
  <string>uni19121922.glif</string>
  <key>uni1912192A1922</key>
  <string>uni1912192A_1922.glif</string>
  <key>uni1913</key>
  <string>uni1913.glif</string>
  <key>uni19131922</key>
  <string>uni19131922.glif</string>
  <key>uni1913192A1922</key>
  <string>uni1913192A_1922.glif</string>
  <key>uni1914</key>
  <string>uni1914.glif</string>
  <key>uni19141922</key>
  <string>uni19141922.glif</string>
  <key>uni1914192A1922</key>
  <string>uni1914192A_1922.glif</string>
  <key>uni1915</key>
  <string>uni1915.glif</string>
  <key>uni19151922</key>
  <string>uni19151922.glif</string>
  <key>uni1915192A1922</key>
  <string>uni1915192A_1922.glif</string>
  <key>uni1916</key>
  <string>uni1916.glif</string>
  <key>uni19161922</key>
  <string>uni19161922.glif</string>
  <key>uni1916192A1922</key>
  <string>uni1916192A_1922.glif</string>
  <key>uni1917</key>
  <string>uni1917.glif</string>
  <key>uni19171922</key>
  <string>uni19171922.glif</string>
  <key>uni1917192A1922</key>
  <string>uni1917192A_1922.glif</string>
  <key>uni1918</key>
  <string>uni1918.glif</string>
  <key>uni19181922</key>
  <string>uni19181922.glif</string>
  <key>uni1918192A1922</key>
  <string>uni1918192A_1922.glif</string>
  <key>uni1919</key>
  <string>uni1919.glif</string>
  <key>uni19191922</key>
  <string>uni19191922.glif</string>
  <key>uni1919192A1922</key>
  <string>uni1919192A_1922.glif</string>
  <key>uni191A</key>
  <string>uni191A_.glif</string>
  <key>uni191A1922</key>
  <string>uni191A_1922.glif</string>
  <key>uni191A192A1922</key>
  <string>uni191A_192A_1922.glif</string>
  <key>uni191B</key>
  <string>uni191B_.glif</string>
  <key>uni191B1922</key>
  <string>uni191B_1922.glif</string>
  <key>uni191B192A1922</key>
  <string>uni191B_192A_1922.glif</string>
  <key>uni191C</key>
  <string>uni191C_.glif</string>
  <key>uni191C1922</key>
  <string>uni191C_1922.glif</string>
  <key>uni191C192A1922</key>
  <string>uni191C_192A_1922.glif</string>
  <key>uni191D</key>
  <string>uni191D_.glif</string>
  <key>uni191D1922</key>
  <string>uni191D_1922.glif</string>
  <key>uni191D192A1922</key>
  <string>uni191D_192A_1922.glif</string>
  <key>uni191E</key>
  <string>uni191E_.glif</string>
  <key>uni191E1922</key>
  <string>uni191E_1922.glif</string>
  <key>uni191E192A1922</key>
  <string>uni191E_192A_1922.glif</string>
  <key>uni1920</key>
  <string>uni1920.glif</string>
  <key>uni1920.widC</key>
  <string>uni1920.widC_.glif</string>
  <key>uni1920.widD</key>
  <string>uni1920.widD_.glif</string>
  <key>uni1921</key>
  <string>uni1921.glif</string>
  <key>uni1921193A</key>
  <string>uni1921193A_.glif</string>
  <key>uni1922</key>
  <string>uni1922.glif</string>
  <key>uni1922.altA</key>
  <string>uni1922.altA_.glif</string>
  <key>uni1922.altB</key>
  <string>uni1922.altB_.glif</string>
  <key>uni1922.altC</key>
  <string>uni1922.altC_.glif</string>
  <key>uni1923</key>
  <string>uni1923.glif</string>
  <key>uni1923193A</key>
  <string>uni1923193A_.glif</string>
  <key>uni1924</key>
  <string>uni1924.glif</string>
  <key>uni1924193A</key>
  <string>uni1924193A_.glif</string>
  <key>uni1925</key>
  <string>uni1925.glif</string>
  <key>uni1926</key>
  <string>uni1926.glif</string>
  <key>uni1927</key>
  <string>uni1927.glif</string>
  <key>uni1928</key>
  <string>uni1928.glif</string>
  <key>uni1929</key>
  <string>uni1929.glif</string>
  <key>uni19291920</key>
  <string>uni19291920.glif</string>
  <key>uni19291920193A</key>
  <string>uni19291920193A_.glif</string>
  <key>uni19291922</key>
  <string>uni19291922.glif</string>
  <key>uni19291922193A</key>
  <string>uni19291922193A_.glif</string>
  <key>uni19291927</key>
  <string>uni19291927.glif</string>
  <key>uni19291927193A</key>
  <string>uni19291927193A_.glif</string>
  <key>uni19291928</key>
  <string>uni19291928.glif</string>
  <key>uni19291928193A</key>
  <string>uni19291928193A_.glif</string>
  <key>uni1929193A</key>
  <string>uni1929193A_.glif</string>
  <key>uni192A</key>
  <string>uni192A_.glif</string>
  <key>uni192A1922</key>
  <string>uni192A_1922.glif</string>
  <key>uni192B</key>
  <string>uni192B_.glif</string>
  <key>uni192B1920</key>
  <string>uni192B_1920.glif</string>
  <key>uni192B1920193A</key>
  <string>uni192B_1920193A_.glif</string>
  <key>uni192B1922</key>
  <string>uni192B_1922.glif</string>
  <key>uni192B1922193A</key>
  <string>uni192B_1922193A_.glif</string>
  <key>uni192B1927</key>
  <string>uni192B_1927.glif</string>
  <key>uni192B1927193A</key>
  <string>uni192B_1927193A_.glif</string>
  <key>uni192B1928</key>
  <string>uni192B_1928.glif</string>
  <key>uni192B1928193A</key>
  <string>uni192B_1928193A_.glif</string>
  <key>uni192B193A</key>
  <string>uni192B_193A_.glif</string>
  <key>uni1930</key>
  <string>uni1930.glif</string>
  <key>uni1931</key>
  <string>uni1931.glif</string>
  <key>uni1932</key>
  <string>uni1932.glif</string>
  <key>uni1933</key>
  <string>uni1933.glif</string>
  <key>uni1934</key>
  <string>uni1934.glif</string>
  <key>uni1935</key>
  <string>uni1935.glif</string>
  <key>uni1936</key>
  <string>uni1936.glif</string>
  <key>uni1937</key>
  <string>uni1937.glif</string>
  <key>uni1938</key>
  <string>uni1938.glif</string>
  <key>uni1939</key>
  <string>uni1939.glif</string>
  <key>uni193A</key>
  <string>uni193A_.glif</string>
  <key>uni193A.widC</key>
  <string>uni193A_.widC_.glif</string>
  <key>uni193B</key>
  <string>uni193B_.glif</string>
  <key>uni193B.widA</key>
  <string>uni193B_.widA_.glif</string>
  <key>uni193B.widB</key>
  <string>uni193B_.widB_.glif</string>
  <key>uni193B.widC</key>
  <string>uni193B_.widC_.glif</string>
  <key>uni1940</key>
  <string>uni1940.glif</string>
  <key>uni1944</key>
  <string>uni1944.glif</string>
  <key>uni1945</key>
  <string>uni1945.glif</string>
  <key>uni1946</key>
  <string>uni1946.glif</string>
  <key>uni1947</key>
  <string>uni1947.glif</string>
  <key>uni1948</key>
  <string>uni1948.glif</string>
  <key>uni1949</key>
  <string>uni1949.glif</string>
  <key>uni194A</key>
  <string>uni194A_.glif</string>
  <key>uni194B</key>
  <string>uni194B_.glif</string>
  <key>uni194C</key>
  <string>uni194C_.glif</string>
  <key>uni194D</key>
  <string>uni194D_.glif</string>
  <key>uni194E</key>
  <string>uni194E_.glif</string>
  <key>uni194F</key>
  <string>uni194F_.glif</string>
  <key>uni2000</key>
  <string>uni2000.glif</string>
  <key>uni2001</key>
  <string>uni2001.glif</string>
  <key>uni2002</key>
  <string>uni2002.glif</string>
  <key>uni2003</key>
  <string>uni2003.glif</string>
  <key>uni2004</key>
  <string>uni2004.glif</string>
  <key>uni2005</key>
  <string>uni2005.glif</string>
  <key>uni2006</key>
  <string>uni2006.glif</string>
  <key>uni2007</key>
  <string>uni2007.glif</string>
  <key>uni2008</key>
  <string>uni2008.glif</string>
  <key>uni2009</key>
  <string>uni2009.glif</string>
  <key>uni200A</key>
  <string>uni200A_.glif</string>
  <key>uni200B</key>
  <string>uni200B_.glif</string>
  <key>uni200C</key>
  <string>uni200C_.glif</string>
  <key>uni200D</key>
  <string>uni200D_.glif</string>
  <key>uni2010</key>
  <string>uni2010.glif</string>
  <key>uni2011</key>
  <string>uni2011.glif</string>
  <key>uni2015</key>
  <string>uni2015.glif</string>
  <key>uni2027</key>
  <string>uni2027.glif</string>
  <key>uni202F</key>
  <string>uni202F_.glif</string>
  <key>uni2060</key>
  <string>uni2060.glif</string>
  <key>uni2219</key>
  <string>uni2219.glif</string>
  <key>uni25CC</key>
  <string>uni25C_C_.glif</string>
  <key>uniFE00</key>
  <string>uniF_E_00.glif</string>
  <key>uniFE01</key>
  <string>uniF_E_01.glif</string>
  <key>uniFE02</key>
  <string>uniF_E_02.glif</string>
  <key>uniFE03</key>
  <string>uniF_E_03.glif</string>
  <key>uniFE04</key>
  <string>uniF_E_04.glif</string>
  <key>uniFE05</key>
  <string>uniF_E_05.glif</string>
  <key>uniFE06</key>
  <string>uniF_E_06.glif</string>
  <key>uniFE07</key>
  <string>uniF_E_07.glif</string>
  <key>uniFE08</key>
  <string>uniF_E_08.glif</string>
  <key>uniFE09</key>
  <string>uniF_E_09.glif</string>
  <key>uniFE0A</key>
  <string>uniF_E_0A_.glif</string>
  <key>uniFE0B</key>
  <string>uniF_E_0B_.glif</string>
  <key>uniFE0C</key>
  <string>uniF_E_0C_.glif</string>
  <key>uniFE0D</key>
  <string>uniF_E_0D_.glif</string>
  <key>uniFE0E</key>
  <string>uniF_E_0E_.glif</string>
  <key>uniFE0F</key>
  <string>uniF_E_0F_.glif</string>
  <key>uniFEFF</key>
  <string>uniF_E_F_F_.glif</string>
  <key>uniFFFC</key>
  <string>uniF_F_F_C_.glif</string>
  <key>uniFFFD</key>
  <string>uniF_F_F_D_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
